name: CI
on:
    pull_request:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [21.x, 20.x]
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  check-latest: true
            - name: Install dependencies
              run: npm install
            - name: Run tests
              run: npm test
            - name: Prepare coverage report in markdown
              uses: fingerprintjs/action-coverage-report-md@v1.0.6
              id: coverage
              with:
                textReportPath: coverage/coverage.txt
            - name: Add coverage comment to the PR
              uses: marocchino/sticky-pull-request-comment@v2.8.0
              with:
                message: ${{ steps.coverage.outputs.markdownReport }}
            - name: Add coverage report to the job summary
              run: |
                echo "## Code Coverage v${{ matrix.node-version }}" >> "$GITHUB_STEP_SUMMARY"
                echo "${{ steps.coverage.outputs.markdownReport }}" >> "$GITHUB_STEP_SUMMARY"