name: CI
on:
    pull_request:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: '21.x'
                  check-latest: true
            - name: Install dependencies
              run: npm install
            - name: Run tests
              run: npm test