name: Release
on:
    push:
    release:
        types: [created]
jobs:
    publish:
      runs-on: ubuntu-latest
      permissions:
        packages: write
        contents: read
      steps:
        - uses: actions/checkout@v6
          with:
            fetch-depth: 0
        - name: Install GitVersion
          uses: gittools/actions/gitversion/setup@v4
          with:
            versionSpec: '5.x'
        - name: Determine Version
          uses: gittools/actions/gitversion/execute@v4
        - name: Change NPM version
          uses: reedyuk/npm-version@1.2.2
          with:
            version: $GITVERSION_SEMVER
        - uses: actions/setup-node@v6
          with:
            node-version: 21.x
            registry-url: https://registry.npmjs.org/
        - name: Install Dependencies
          run: npm install
        - name: Run Tests
          run: npm test
        - name: Publish to npm
          run: npm publish
          env: 
            NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}